.binaryOutput{
    width: 500px;
}
table,tr,td{
    border: 1px solid #000000;
    border-collapse: collapse;
}
body{
    background-color: #000000;
}
label,h1{
    color: #00FF00;
    text-align: center;
}
input{
    background-color: #000000;
    color: #00FF00;
}
textarea{
    background-color: #000000;
    color: #00FF00;
}
.split{
    background-color: #00FF00;
    width: 25px;
}